body {
	margin-top: 30px:;
background: rgb(181,221,213); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(181,221,213,1) 0%, rgba(227,255,137,1) 50%, rgba(178,137,151,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,221,213,1)), color-stop(50%,rgba(227,255,137,1)), color-stop(100%,rgba(178,137,151,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(181,221,213,1) 0%,rgba(227,255,137,1) 50%,rgba(178,137,151,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(181,221,213,1) 0%,rgba(227,255,137,1) 50%,rgba(178,137,151,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(181,221,213,1) 0%,rgba(227,255,137,1) 50%,rgba(178,137,151,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(181,221,213,1) 0%,rgba(227,255,137,1) 50%,rgba(178,137,151,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5ddd5', endColorstr='#b28997',GradientType=0 ); /* IE6-9 */

}

.list {
  width: 60%;
  float: left;
}

.commentbox {
	width: 25%;
	float: left;
}

nav a{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
	color:lightseagreen;
	font-size:30px;
	border-left: thick double lightseagreen;
	padding:10px;
}
.list li {
  background: url("http://bradfrost.github.com/this-is-responsive/patterns/images/icon_arrow_right.png") no-repeat 97% 50%;
  border-bottom: 5px solid
  ;
  display: table;
  border-collapse: collapse;
  width: 100%; 
  color:lightseagreen;
}

.inner {
  display: table-row;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding-right: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 80%;
}
.li-head {
  margin: 0;
}
.li-sub {
  margin: 0;
}

a {
	text-decoration: none;
}

/*@media all and (min-width: 45em) {
  .list li {
    float: left;
    width: 50%;
  }
}

@media all and (min-width: 75em) {
  .list li {
    width: 33.33333%;
  }
}*/

